body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  .container {
    height: 100vh; 
    background-image: url('../watches/images/bg-image.png'); /* Replace with the correct path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
  }
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
  }
  .navbar .logo {
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
  }
  .navbar .nav-links {
    display: flex;
    align-items: center;
  }
  .navbar .nav-links a {
    font-family: 'Montserrat Light';
    font-size: 15px;
    color: white;
    text-decoration: none;
    padding: 0 15px;
  }
  .navbar .nav-links span {
    color: white;
  }
  .navbar .nav-links a:hover {
    color: gold;
  }
  .navbar .nav-links a.active {
    color: gold;
  }
  .t1 {
    position: absolute;
    margin-left: 15%;
    margin-top: 6%;
    text-align: center;
  }
  .t1 h1 {
    width: 500px;
    font-size: 40px;
    font-family: 'Julius Sans one';
    font-weight: lighter;
  }
  .t1 p {
    font-family: 'Montserrat Light';
  }
  .btn {
    background-color: #377e39;
    color: white;
    font-family: 'Montserrat Light';
    padding: 12px 60px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  .btn:hover {
    background-color: #45a049;
    transform: scale(1.05);
  }
  .btn:active {
    background-color: #3e8e41;
    transform: scale(1);
  }
  .container-2{
    text-align: center;
}
.container-2 h1{
    font-family: 'Julius Sans one';
    font-weight: lighter;
    font-size: 40px;
}
.container-2 p{
  font-family: 'Montserrat Light';
    font-weight: lighter;
    font-size: 20px;
}

@font-face {
  font-family: 'Montserrat Light';
  src: url('/Fonts/Montserrat-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Julius Sans One';
  src: url('/Fonts/JuliusSansOne-Regular.ttf') format('truetype');
}
